In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2020-10-29 15:43:09,-38.00,-57.56,53.60,62,75,13.87
1,1,Cape Town,ZA,2020-10-29 15:47:36,-33.93,18.42,64.00,51,75,12.75
2,2,Mendi,PG,2020-10-29 15:47:36,-6.18,143.65,52.79,99,92,2.71
3,3,Port Alfred,ZA,2020-10-29 15:47:36,-33.59,26.89,65.21,84,100,22.01
4,4,Punta Arenas,CL,2020-10-29 15:47:36,-53.15,-70.92,51.80,50,20,38.03

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create a Maximum Temperature Heatmap

In [4]:
# Module 6.5.2

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Adjust Heatmap Zoom, Intensity, and Point Radius

In [11]:
# Module 6.5.2 by Emmanuel Martinez

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [14]:
# Module 6.5.2 by Emmanuel Martinez

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [16]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [17]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Maximum Temperature Heatmap

In [18]:
# REWIND

In [19]:
print(city_data_df)

     City_ID           City Country                 Date    Lat     Lng  \
0          0  Mar Del Plata      AR  2020-10-29 15:43:09 -38.00  -57.56
1          1      Cape Town      ZA  2020-10-29 15:47:36 -33.93   18.42
2          2          Mendi      PG  2020-10-29 15:47:36  -6.18  143.65
3          3    Port Alfred      ZA  2020-10-29 15:47:36 -33.59   26.89
4          4   Punta Arenas      CL  2020-10-29 15:47:36 -53.15  -70.92
..       ...            ...     ...                  ...    ...     ...
526      526         Monroe      US  2020-10-29 15:48:05  43.15  -77.68
527      527        Asansol      IN  2020-10-29 15:48:05  23.68   86.98
528      528        Bourail      NC  2020-10-29 15:48:05 -21.57  165.48
529      529      Athabasca      CA  2020-10-29 15:48:05  54.72 -113.29
530      530          Dajal      PK  2020-10-29 15:48:05  29.56   70.38

     Max Temp  Humidity  Cloudiness  Wind Speed
0       53.60        62          75       13.87
1       64.00        51          75       12.75
2       52.79        99          92        2.71
3       65.21        84         100       22.01
4       51.80        50          20       38.03
..        ...       ...         ...         ...
526     48.00        87          90        3.36
527     75.52        59          25        7.02
528     70.99        76          22        5.73
529     32.00        94          97        4.70
530     72.82        21           0        6.67

[531 rows x 10 columns]

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [21]:
# Module 6.5.3 by Emmanuel Martinez

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kieta,PG,2020-10-29 15:47:36,-6.22,155.63,79.74,77,100,2.48
7,7,Caravelas,BR,2020-10-29 15:47:36,-17.71,-39.25,84.13,64,85,13.98
13,13,Finschhafen,PG,2020-10-29 15:47:37,-6.60,147.87,79.81,76,34,2.77
21,21,Georgetown,MY,2020-10-29 15:42:56,5.41,100.34,80.60,88,20,5.01
24,24,Bambanglipuro,ID,2020-10-29 15:47:37,-7.95,110.28,78.48,87,66,3.22
27,27,Lambare,PY,2020-10-29 15:47:37,-25.35,-57.61,75.20,57,75,23.04
29,29,Poum,NC,2020-10-29 15:47:37,-20.23,164.02,75.67,76,15,16.71
37,37,Praya,CV,2020-10-29 15:44:10,14.92,-23.51,89.60,55,0,17.22
39,39,Kovur,IN,2020-10-29 15:47:38,14.48,79.98,75.96,71,100,2.91
42,42,Bonfim,BR,2020-10-29 15:47:38,3.08,-59.95,87.80,70,40,13.87

In [24]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       153
City          153
Country       150
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [25]:
preferred_cities_df.count()

City_ID       153
City          153
Country       150
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [26]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [27]:
# If you have some rows with null values, 
# you'll need to drop them using the dropna() method at the end of your filtering 
# statement when you are creating the new DataFrame.

In [28]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kieta,PG,2020-10-29 15:47:36,-6.22,155.63,79.74,77,100,2.48
7,7,Caravelas,BR,2020-10-29 15:47:36,-17.71,-39.25,84.13,64,85,13.98
13,13,Finschhafen,PG,2020-10-29 15:47:37,-6.60,147.87,79.81,76,34,2.77
21,21,Georgetown,MY,2020-10-29 15:42:56,5.41,100.34,80.60,88,20,5.01
24,24,Bambanglipuro,ID,2020-10-29 15:47:37,-7.95,110.28,78.48,87,66,3.22
...,...,...,...,...,...,...,...,...,...,...
519,519,Kununurra,AU,2020-10-29 15:48:04,-15.77,128.73,80.60,83,75,1.12
520,520,Mogadishu,SO,2020-10-29 15:48:04,2.04,45.34,80.28,78,18,9.91
521,521,Nileshwar,IN,2020-10-29 15:48:04,12.25,75.10,79.05,77,36,4.52
523,523,Anito,PH,2020-10-29 15:48:05,12.45,125.29,79.72,88,100,7.49
527,527,Asansol,IN,2020-10-29 15:48:05,23.68,86.98,75.52,59,25,7.02

# Map Vacation Criteria

In [29]:
# Module 6.5.4 by Emmanuel Martinez

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
5           Kieta      PG     79.74  -6.22  155.63
7       Caravelas      BR     84.13 -17.71  -39.25
13    Finschhafen      PG     79.81  -6.60  147.87
21     Georgetown      MY     80.60   5.41  100.34
24  Bambanglipuro      ID     78.48  -7.95  110.28
27        Lambare      PY     75.20 -25.35  -57.61
29           Poum      NC     75.67 -20.23  164.02
37          Praya      CV     89.60  14.92  -23.51
39          Kovur      IN     75.96  14.48   79.98
42         Bonfim      BR     87.80   3.08  -59.95

# Iterate Through hotel_df DataFrame

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [36]:
hotel_df.head()

             City Country  Max Temp    Lat     Lng   Hotel Name
5           Kieta      PG     79.74  -6.22  155.63        Kieta
7       Caravelas      BR     84.13 -17.71  -39.25    Caravelas
13    Finschhafen      PG     79.81  -6.60  147.87  Finschhafen
21     Georgetown      MY     80.60   5.41  100.34  George Town
24  Bambanglipuro      ID     78.48  -7.95  110.28       Bantul

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))